.Rating {
  display: inline-block;
}

.Rating > .stars {
  margin-right: 3px;
}

.Rating > .average {
}

.Rating .star {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-size: cover;
  margin-right: 1px;
}

.Rating .gray {
  background-image: url('/star-gray.png');
}

.Rating .full {
  background-image: url('/star-full.png')
}
